@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

::selection {
    background-color: #4B5563;
    color: white;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    background-color: #4B5563;
    border-radius: 6px;
    transition: all 0.5s ease-in-out;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #53585e;
    transition: all 0.5s ease-in-out;
}

body::-webkit-scrollbar-track {
    background-color: #FFFFFF;
}

body::-webkit-scrollbar-corner {
    background-color: #FFFFFF;
}

.text-gradient-gray {
    background: linear-gradient(to right, #dcdcdc, #4B5563);
    background-clip: text;
    color: transparent;
}

.navbar-link-active {
    color: #90acc0;
    font-weight: bold;
    border-bottom: 2px solid #859fb1;
}